<div id="<%= dom_id alumno %>">
  <p>
    <strong>Carrera:</strong>
    <%= alumno.Carrera[:carrera] %>
    <!--
    <%= alumno.carrera_id %> 
    -->
    
  </p>

  <p>
    <strong>User:</strong>
    <%= alumno.User[:email] %>
    <!--
    <%= alumno.user_id %>
    -->
  </p>

  <p>
    <strong>No control:</strong>
    <%= alumno.no_control %>
  </p>

  <p>
    <strong>Semestre:</strong>
    <%= alumno.semestre %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= alumno.nombre %>
  </p>

  <p>
    <strong>Apellido p:</strong>
    <%= alumno.apellido_p %>
  </p>

  <p>
    <strong>Apellido m:</strong>
    <%= alumno.apellido_m %>
  </p>

</div>
