<div id="<%= dom_id actividades_alumno %>">
  <p>
    <strong>Actividad:</strong>
    <%= actividades_alumno.Actividad[:titulo] %>
    <!-- 
    <%= actividades_alumno.actividad_id %>
    -->
    
  </p>

  <p>
    <strong>Alumno:</strong>
    <%= actividades_alumno.Alumno[:nombre] %>
    <!-- 
    <%= actividades_alumno.alumno_id %>
    -->
    
  </p>

  <p>
    <strong>Calificacion:</strong>
    <%= actividades_alumno.calificacion %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= actividades_alumno.observaciones %>
  </p>

</div>
