<p style="color: green"><%= notice %></p>
<%= render @actividades_alumno %>

<hr>

</hr>
<div>
  <%= link_to "Edit this actividades alumno", edit_actividades_alumno_path(@actividades_alumno) %> |
  <%= link_to "Back to actividades alumnos", actividades_alumnos_path %>

  <%= button_to "Destroy this actividades alumno", @actividades_alumno, method: :delete %>
</div>
