<div id="<%= dom_id docente %>">
  <p>
    <strong>User:</strong>
    <%= docente.user_id %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= docente.nombre %>
  </p>

  <p>
    <strong>Apellido p:</strong>
    <%= docente.apellido_p %>
  </p>

  <p>
    <strong>Apellido m:</strong>
    <%= docente.apellido_m %>
  </p>

</div>
