<%= form_with(model: docente) do |form| %>
  <% if docente.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(docente.errors.count, "error") %> prohibited this docente from being saved:</h2>

      <ul>
        <% docente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
    <-!
    <%= collection_select("docentes" , :user_id, User.all.order("id"), :id,email) %>
 
    -->
  </div>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :apellido_p, style: "display: block" %>
    <%= form.text_field :apellido_p %>
  </div>

  <div>
    <%= form.label :apellido_m, style: "display: block" %>
    <%= form.text_field :apellido_m %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
