<p style="color: green"><%= notice %></p>

<h1>Docentes</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>User_id</th>
            <th>Nombre</th>
            <th>Apellido_P</th>
            <th>Apellido_M</th>
            <th>Ver docente</th>
            <th>Nuevo</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <% @docentes.each do |d| %>
        <tr>
            <td><%= d[:user_id] %></td>
            <td><%= d[:nombre] %></td>
            <td><%= d[:apellido_p] %></td>
            <td><%= d[:apellido_m] %></td>
            <td>  <%= link_to "Ver docente", d %> </td>
            <td>  <%= link_to "New docente", new_docente_path %>  </td>
        </tr>
        <% end %>
        </tbody>
        </table>

<div id="docentes">
  <% @docentes.each do |docente| %>
    <%= render docente %>
    <p>
      <%= link_to "Show this docente", docente %>
    </p>
  <% end %>
</div>

<%= link_to "New docente", new_docente_path %>
