<div id="<%= dom_id direccion %>">
<p>
    <strong>tipo:</strong>
    <%= direccion.tipo_id %>
  </p>  
<p>
    <strong>Calle:</strong>
    <%= direccion.calle %>
  </p>

  <p>
    <strong>Numero exterior:</strong>
    <%= direccion.numero_exterior %>
  </p>

  <p>
    <strong>Numero interior:</strong>
    <%= direccion.numero_interior %>
  </p>

  <p>
    <strong>Colonia:</strong>
    <%= direccion.colonia %>
  </p>

  <p>
    <strong>Municipio:</strong>
    <%= direccion.municipio %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= direccion.estado %>
  </p>

  <p>
    <strong>Codigo postal:</strong>
    <%= direccion.codigo_postal %>
  </p>

  <p>
    <strong>Referencia:</strong>
    <%= direccion.referencia %>
  </p>

</div>
