<%= form_with(model: direccion) do |form| %>
  <% if direccion.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(direccion.errors.count, "error") %> prohibited this direccion from being saved:</h2>

      <ul>
        <% direccion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div>

</div>

  <%= form.label :tipo, style: "display: block" %>
   <%= collection_select("direccion",:tipo_id, DireccionesTipo.all.order("tipo"), :id , :tipo) %>
  <div>
    <%= form.label :calle, style: "display: block" %>
    <%= form.text_field :calle %>
  </div>

  <div>
    <%= form.label :numero_exterior, style: "display: block" %>
    <%= form.number_field :numero_exterior %>
  </div>

  <div>
    <%= form.label :numero_interior, style: "display: block" %>
    <%= form.number_field :numero_interior %>
  </div>

  <div>
    <%= form.label :colonia, style: "display: block" %>
    <!--
    <%= form.text_field :colonia %>
    -->
    <%= collection_select("colonia",:colonia, Colonia.all.order("nombre_c"), :id , :nombre_c) %>
  </div>

  <div>
    <%= form.label :municipio, style: "display: block" %>
    <!--
    <%= form.text_field :municipio %>
    -->
    <%= collection_select("municipio",:municipio, Municipio.all.order("nombre_m"), :id , :nombre_m) %>
  </div>

  <div>
    <%= form.label :estado, style: "display: block" %>
    <!--
    <%= form.text_field :estado %>
    -->
    <%= collection_select("estado",:estado, Estado.all.order("nombre_e"), :id , :nombre_e) %>
  </div>

  <div>
    <%= form.label :codigo_postal, style: "display: block" %>
    <%= form.number_field :codigo_postal %>
  </div>

  <div>
    <%= form.label :referencia, style: "display: block" %>
    <%= form.text_field :referencia %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
