<%= form_with(model: colonia) do |form| %>
  <% if colonia.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(colonia.errors.count, "error") %> prohibited this colonia from being saved:</h2>

      <ul>
        <% colonia.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre_c, style: "display: block" %>
    <%= form.text_field :nombre_c %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
