<%= form_with(model: actividad) do |form| %>
  <% if actividad.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(actividad.errors.count, "error") %> prohibited this actividad from being saved:</h2>

      <ul>
        <% actividad.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :tipo_id, style: "display: block" %>
   
    <%= collection_select("actividadtipo" , :tipo_id, ActividadTipo.all.order("tipo"), :id, :tipo) %>
    <!-- 
    <%= form.number_field :tipo_id %>
    -->
  </div>

  <div>
    <%= form.label :docente_id, style: "display: block" %>
    
    <%= collection_select("docente", :docente_id, Docente.all.order("nombre"), :id, :nombre) %>
    <!--
    
    <%= form.number_field :docente_id %>
    
    -->
  </div>

  <div>
    <%= form.label :titulo, style: "display: block" %>
    <%= form.text_field :titulo %>
  </div>

  <div>
    <%= form.label :descripcion, style: "display: block" %>
    <%= form.text_area :descripcion %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
